.calendar{
  margin: 0 40px 0 250px;

  .calendar-nav{
    height: 36px;
    border-bottom: $default-border;
    margin-bottom: 8px;

    .calendar-nav-summary{
      margin-left: 20px;
    }

    ul{
      display: inline-block;
      list-style-type: none;
      padding-left: 0;
      li{
        display: inline-block;

        &:first-child{
          margin-right: 10px
        }
      }
    }
  }

  .calendar-body{
    height: 100%;
    width: 100%;

    &.week{
      height: $calendar-body-height;

      .week-columns{
        position: relative;
        height: 100%;
        border-top: $default-border;
        border-bottom: $default-border;        

        .col{
          display: inline-block;
          height: 100%;
          width: (100% / $days-week);
          border-right: $default-border;
        }        
      }

      .header-columns{
        margin-bottom: 10px;

        .col-header{
          position: relative;
          display: inline-block;
          width: (100% / $days-week);
          &.active{
            background-color: #f1f1f1;
            .col-head-label{
              border-top: $default-border;
              border-left: $default-border;
              border-right: $default-border;            
            }
          }          

          &:first-child{
            .col-header-eventspace{
              border-left: $default-border;
            }            
          }

          .col-header-eventspace{
            min-height: 10px;
            border-top: $default-border;
            border-right: $default-border;
            border-bottom: $default-border;           
          }

          .col-head-label{
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;

            &.active{
              border-top: $default-border;
              border-left: $default-border;
              border-right: $default-border;
            }
          }
        }
      }   
    }
  }

  .day{
    &.week{
      position: relative;
      height: 100%;

      .active-time-bar{
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: red;
        z-index: 20;
      }

      &.active{
        background-color: #f1f1f1;
      }

      .hour{
        position: relative;
        height: $hour-cell-height;
        border-bottom: $default-border;
        top: -1px;

        &:last-child{
          border-bottom: none;
        }
        
        hr{
          display: block;
          position: absolute;
          width: 100%;
          height: 1px;
          top: 49%;
          margin: 0;
          border: none;
          background-color: lighten($light-gray, 7%);
        }

        .hour-event{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 2px 4px;
          background-color: #D06B64;
          border-color: #924420;

          p{
            font-size: 11px;
            margin: 2px 0;

            &:first-child{
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .hours{
    position: absolute;
    top: -1px;
    left: -$hour-cell-width;
    width: $hour-cell-width;

    .timer-caret{
      position: absolute;
      width: 0; 
      height: 0;
      margin-top: -4px;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #C9393A;
    }    

    .hour-label{
      padding: 2px;
      height: $hour-cell-height;
      border-right: $default-border;
      border-bottom: $default-border;
      border-left: $default-border;

      &:first-child{
        border-top: $default-border;
      }

      span{
        float: right;
      }
    }
  }
}